.bg-danger{
    background-color: #2c0b0e !important;
}
/*seznam te se se zvířaty */
.preview-images {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}
@font-face {
  font-family: 'RubicBurned';
  src: url('RubikBurned-Regular.ttf') format('truetype');
}


.preview-images img {
  max-width: 300px;
  width: 100%;
  border: 3px solid #2c0b0e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.7);
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.preview-images img:hover,
.preview-images img:focus {
  transform: scale(1.08);
  border-color: #2c0b0e;
  box-shadow: 0 8px 16px rgba(227, 155, 155, 0.8);

background-image: url("images/pozadi.jpg");


 
}

}